.diploma {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
  background: white;
}

.diploma__title {
  font-weight: 500;
  /* font-family: importar Lato de google fonts*/
  margin: 0 0 10px 0;
  color: #374054;
}

.diploma__date {
  color: #74808a;
  float: right;
}

.diploma__link {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 10px 0 10px 0;
  text-decoration: none;
}
