.container {
  margin: auto;
  width: 90%;
}

.container__title {
  color: white;
  font-family: "Lato", sans-serif;
}

.hide-children {
  display: none;
}

.show-children {
  display: block;
}

.container__show-more {
  text-align: center;
}

.container__button {
  color: white;
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: none;
}
